body{
background-color: #12132A;

}

*{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* navbar */
.blur-bg {
  position: absolute; /*mooove element anywhere (based on its parent)*/
  top: 120px;
  left: 300px;
  width: 200px;
  height: 250px;
  background: radial-gradient(circle, #4a00e0, #8e2de2);
  filter: blur(150px);
  z-index: -1; /* behiind everything */
  opacity: 0.5;
}

nav{
   display: flex;
   justify-content: space-between; 
}
nav ul{
    display: flex;
    gap: 60px;
    list-style: none;
    
}

nav a{
   text-decoration: none; 
}
nav a:hover{
    color: white;
    text-decoration: underline;
}
.nv-links a{
    color: rgba(255, 255, 255, 0.37);
    
}

#home a{
    color: white;
    text-decoration: underline;
}

nav img{
    margin-left: 30px;
    height: 50px;
    
}

button{
    background-color: #12132A;
    color: white;
    border-color: white;
    padding: 15px 30px;
    margin-right: 30px;
}


/*Fiirst section*/

.first-section{
    color: white;
    padding: 50px;
    display: flex;
    justify-content: space-around;
}
.first-section h1{
    font-size:60px;
}

.first-section p{
    color: rgba(255, 255, 255, 0.414);

}

#flech{
    margin-left: 150px;
    font-size: 20px;
}


/* section bleu bar */

.bleu-div{
    background-color: #162446;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.bleu-div img{
    margin-top: 15px;
    height: 70px;
}

/*Second section*/
.second-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.second-section p{
color: rgba(255, 255, 255, 0.455);}

.second-section .cards{
    display: flex;
    justify-content:space-around;
    gap: 200px;
}
.cards #card{
        border:2px ,solid,#C23893;
        border-radius: 4%;
        padding: 10px 60px;
        margin-top: 20px;
}
